h1 {
    color: royalblue;
    background-color: thistle;
}

h2 {
    color: violet;
    background-color: yellow;
}

h3 {
    color: red;
    background-color: yellowgreen;
}


/*  text property example */

h1 {
    text-align: center;
    font-weight: 100;
    text-decoration: teal;
    line-height: normal;
    letter-spacing: normal;
}