<footer>
    <div class="grid">
      <p class="copyright">Copyright 2021 Max Marcello</p>
      <ul class="social">
        <li><a href="#"><img src="images/icon_fb.svg" alt="facebook"></a></li>
        <li><a href="#"><img src="images/icon_tw.svg" alt="twitter"></a></li>
      </ul>
    </div>
  </footer>
  </body>
  </html>
        