<%- include('partials/header'); %>

        
</div>
<section id="contact">
    <h3 class="opposite-color">Get In Touch</h3>
   
    <form>
      <input type="text" placeholder='NAME'>
      <input type="email" placeholder='EMAIL'>
      <textarea placeholder='YOUR MESSAGE'></textarea>
      <button class="button">Send </button>
    </form>
  </section>
<%- include('partials/footer'); %>